.topbar {
  overflow: hidden;
  background-color: #232323
}
.topbar a {
  float: left;
  color: #DCDCDC;
  padding: 14px 15px;
  
  
}
.topbar a:hover {
  background-color: #787878;
}
.topbar a.active {
  background-color: #78DC78;
}
.welcome {
  text-align: center;
  overflow: hidden;
  color: #0A3B98;
}
.heading {
  font-size: 100;
  padding-top: 50px;
}
.heading2 {
  font-size: 30;
  padding-top: 0px;
}
.centertext {
  text-align: center
}
button {
  padding: 20px 15px;
  background-color: gold;
  border-style: solid;
  border-color: #D22131;
  border-width: 3px;
  transition-duration: 0.6s;
}

button:hover {
  background-color: #DDDDDD;
  border-color: grey;
}

body {
  border-style: solid;
  border-color: #D22131;
  border-width: 10px;
}
